.play-demo {
  min-height: 100vh;
  overflow: hidden;
  background-image: url("../../../img/start-page/start-background.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.play-demo__rocket-field {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
}

.play-demo__rocket {
  width: 4.36rem;
  height: 12.6rem;
  background-image: url("../../../img/rocket-animation.png");
  background-size: 47.96rem auto;
}

.play-demo__top {
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
}

.play-demo__logo {
  margin-top: 0.55rem;
}

.play-demo__logo-img {
  width: 12.5rem;
}


.play-demo__button {
  width: 10.6rem;
  height: 10.6rem;
  background-image: url("../../../img/start-page/bet-circle.png");
  background-size: 10.6rem 10.6rem;
  margin: -1rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .console__bet-button-text {
    display: inline-block;
  }

  .console__bet-button {
    width: 7.43rem;
    height: 7.43rem;
    background-size: 7.43rem 7.43rem;
    text-decoration: none;
    position: relative;
    z-index: 3;
  }

  .console__bet-button-layer {
    z-index: 2;
    top: -0.65rem;
    left: -0.65rem;
    right: -0.65rem;
    bottom: -0.65rem;
  }
}

.play-demo__user {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;

  .user__field {
    margin-top: 0.25rem;
    margin-left: 0.6rem;
  }
}


.play-demo__leaders {
  .menu__list {
    height: 3.5rem;
  }

  .menu__item {
    width: 100%;
  }

  .menu__list::after {
    background-image: linear-gradient(0deg, rgba(134, 161, 184, 0.90196) 0%, rgba(134, 161, 184, 0) 100%);
  }
}

.main-buttons {
  margin: 0 auto;
  width: 13.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
  font-weight: 700;
}

.demo,
.how-top-play {
  cursor: pointer;
  transition: 0.2s;
}

.how-top-play {
  font-size: 1.2rem;
  color: rgba(var(--rocket-yellow1), 1);
  border: 0;
  background-color: transparent;
  text-decoration: none;
}

.demo {
  font-size: 1.4rem;
  color: rgba(var(--rocket-green1), 1);
  text-decoration: none;
}

.play-demo__bottom {
  position: relative;
  height: 14.8rem;
  z-index: 1;


  &::after {
    position: absolute;
    content: "";
    display: block;
    height: 18.33rem;
    top: -4rem;
    left: 0;
    right: 0;
    background-image: url("../../../img/earth.png");
    background-size: 90% 18.6rem;
    background-position: top;
    z-index: -1;
    background-repeat: no-repeat;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 18.33rem;
    top: -9rem;
    left: 0;
    right: 0;
    background-image: url("../../../img/earth-shadow.png");
    background-size: 90% 18.6rem;
    background-position: top;
    z-index: -1;
    background-repeat: no-repeat;
  }

  .game__list {
    padding: 0.4rem 0 0.3rem;
  }

  .menu-types__item {
    padding-top: 0;
    padding-bottom: 0.5rem;
    position: relative;
    z-index: 1;
  }

  .menu-types__item::after {
    content: "";
    display: block;
    background-image: linear-gradient(0deg, rgb(20, 20, 28) 0%, rgba(20, 20, 28, 0) 100%);
    position: absolute;
    top: -3rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .leader__item-icon {
    justify-content: center;
  }

  .leader__item-icon::after {
    display: none;
  }
}

.loading-field {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(-300%);
  background-image: url("../../../imgMobile/start-page/start-page.png");
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  z-index: 15;
}

.loading-field.active {
  transform: translateY(0);
}

.loading-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2.1rem;
}

.loading-logo {
  width: 14.16rem;
  height: auto;
}

.loading__time-field {
  width: 12.1rem;
  padding: 0 0.17rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--rocket-gray2), 0.2);
  display: flex;
  align-items: center;
  margin: 0 auto 3.8rem;
  animation-name: loading;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loading__time {
  width: 100%;
  height: 0.7rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--rocket-green1), 1);
  animation-name: loading-time;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes loading-time {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}


.loading-bottom {
  height: 13.7rem;
  width: 100%;
  position: relative;


  &::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: -1rem;
    right: -1rem;
    bottom: 0;
    background-image: url("../../../img/earth.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  &::before {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 10rem;
    content: "";
    display: block;
    background-image: url("../../../img/earth-shadow.png");
    background-size: 15rem 10rem;
    z-index: -5;
    background-position: top;
  }
}

.loading__rocket {
  width: 5.73rem;
  height: 16.6rem;
  position: absolute;
  top: -11.2rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../../img/rocket-animation.png");
  background-size: 4.06rem auto;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}

.loading__rocket-garage {
  width: 9rem;
  height: 8.83rem;
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-51%);
  background-image: url("../../../img/rocket-garage.svg");
  background-size: 9rem 8.83rem;
  background-repeat: no-repeat;
  z-index: -2;
}

.loading-powered {
  position: absolute;
  bottom: 0.5rem;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-powered-img {
  width: 6.73rem;
  height: auto;
}

.how-to-play__popup-field {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(300%);
  z-index: 10;
  padding: 0.33rem;
  background-color: rgba(var(--rocket-black7), 0.7);
}

.how-to-play__popup-field.active {
  transform: translateY(0);
}

.how-to-play__close-field {
  height: 12%;
}


.how-to-play__popup {
  height: 88%;
  z-index: 10;
  background-color: rgba(var(--rocket-black6), 1);
  color: rgba(var(--rocket-gray2), 0.5);
  border-radius: 0.3rem;
  overflow: hidden;
  transition: 0.3s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../../img/stars-z1.png");
    z-index: -1;
  }
}

.how-to-play__popup-body {
  height: calc(100% - 2.6rem);
  overflow-y: auto;
  padding: 1.7rem 0 1rem;
}

.how-to-play__title {
  background-color: rgba(var(--rocket-gray2), 0.05);
  color: rgba(var(--rocket-green1), 1);
  font-size: 1.13rem;
  text-align: center;
  position: relative;
  font-weight: 700;
  padding: 0.4rem 0;
}


.how-to-play__close {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0;
  background-color: transparent;
  border: none;
}

.how-to-play__close-svg {
  width: 1.53rem;
  height: 1.53rem;
  fill: rgba(var(--rocket-green1), 1);
}

.how-to-play__info {
  font-size: 0.93rem;
  font-weight: 700;
  padding: 0 1rem;
  line-height: 1.2rem;
}
