.console-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20.5rem;
  width: 100%;
}

.background-z1 {
  width: 20.5rem;
  height: 20.5rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-image: url("../../../img/earth.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
}

.background-z2 {
  width: 15.8rem;
  height: 8.87rem;
  position: absolute;
  left: 50%;
  bottom: 14.8rem;
  transform: translateX(-50%);
  background-image: url("../../../img/earth-shadow.png");
  background-size: 15.8rem 8.87rem;
  background-repeat: no-repeat;
  z-index: -2;
}


.console {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.console-background--z1 {
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  width: 438px;
  height: 438px;
  right: 0;
  background-image: url("../../../img/earth.png");
  background-size: 100% 100%;
  z-index: 1;
}

.console-background--z2 {
  position: absolute;
  bottom: 101px;
  left: 50%;
  width: 350px;
  height: 200px;
  transform: translate(-48%, -100%);
  background-image: url("../../../img/earth-shadow.png");
  background-size: 100% 100%;
  z-index: -1;
}

.rocket__coefficient-field {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1.5rem;
  opacity: 0;
  left: 50%;
  bottom: 19.7rem;
  font-weight: 700;
  color: rgba(var(--rocket-white), 1);
  transform: translate(-50%, 0);
  z-index: 1;
}

.rocket__coefficient {
  position: relative;
  z-index: 1;
  padding: 0.3rem 0.3rem;
}

.rocket__coefficient-background {
  position: absolute;
  display: block;
  top: 0.07rem;
  left: 0;
  right: 0;
  bottom: 0.2rem;
  z-index: -1;
  border-radius: 0.3rem;
  opacity: 0;
  transform: scale(0.1);
}

.rocket__coefficient-win {
  white-space: nowrap;
  display: block;
  position: absolute;
  right: 0;
  transform: translateX(4rem) scale(0.1);
  top: -2rem;
  font-size: 1rem;
  color: rgba(var(--rocket-green1), 0);
}

.rocket__coefficient-x {
  color: rgba(var(--rocket-green1), 0.9);
}

.console__bottom-field {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.console__bottom {
  font-family: "Myriad", sans-serif;
  padding: 9px 5px 9px 63px;
  margin-left: 15px;
  border-radius: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 60px;
  background-color: rgba(var(--rocket-black5), 0.1);
}

.console__avatar {
  position: absolute;
  top: 5px;
  left: -23px;
}

.console__bottom-id {
  font-size: 10px;
  font-weight: 700;
  color: rgba(var(--rocket-gray2), 1);
}

.console__bottom-price {
  font-size: 14px;
  font-weight: 700;
  padding: 0 0 3px;
  color: rgba(var(--rocket-green1), 0.8);
}

.console__bottom-steps {
  position: relative;
  width: 80px;
  height: 8px;
  background-image: url("../../../img/console-steps.svg");
  background-repeat: no-repeat;
}

.console__bottom-steps-active {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  height: 8px;
  width: 15%;
  background-image: url("../../../img/console-steps-active.svg");
  background-size: 80px 100%;
  background-repeat: no-repeat;
}

.console__settings {
  width: 14.53rem;
  height: 8.66rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    display: block;
    top: -0.4rem;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50.5%);
    background-image: url("../../../imgMobile/bet-layer2.svg");
    opacity: 0.7;
    background-size: 14.53rem 8.66rem;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.console__bet {
  position: relative;
}

.console__bet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  border: none;
  color: rgba(var(--rocket-white), 1);
  font-size: 1.8rem;
  font-weight: 700;
  background-color: rgba(var(--rocket-green1), 1);
  transform: translateY(-0.1rem);
  box-shadow: 0 0.15rem rgba(var(--rocket-green-shadow), 1);
  transition: 0.3s;
  padding: 0;
}

.lds-spinner {
  display: none;
  position: relative;
  width: 2.66rem;
  height: 2.66rem;
  transform: scale(0.7);
}

.lds-spinner span {
  display: flex;
  transform-origin: 1.33rem 1.33rem;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner span::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.1rem;
  left: 1.23rem;
  width: 0.2rem;
  height: 0.6rem;
  border-radius: 25%;
  background: rgba(var(--rocket-white), 1);
}

.lds-spinner span:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner span:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner span:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner span:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner span:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner span:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner span:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner span:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner span:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner span:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner span:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner span:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.console__bet-button.push {
  transform: translateY(0.07rem);
  box-shadow: none;
}

.console__bet-button.disable {
  .lds-spinner {
    display: none;
  }

  .console__bet-button-text {
    display: inline-block;
  }
}


.console__bet-button-cashout {
  line-height: 0.8rem;
  padding-top: 1rem;
  display: none;
  flex-direction: column;
  font-size: 0.86rem;
  color: rgba(var(--rocket-green1), 1);
}

.console__bet-button-autogame {
  display: none;
}

.console__bet-button-cashout-bottom {
  font-size: 0.73rem;
  color: rgba(var(--rocket-gray1), 1);
}

.console__bet-button-layer {
  position: absolute;
  display: block;
  content: "";
  top: -0.7rem;
  left: -0.67rem;
  right: -0.67rem;
  bottom: -0.7rem;
  background-image: url("../../../img/bet-layer1.svg");
  background-repeat: no-repeat;
  z-index: -1;
  transition: 0.2s;
}

.console__bet-button-layer.push {
  top: -0.35rem;
  left: -0.4rem;
  right: -0.4rem;
  bottom: -0.5rem;
}

.console__settings-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: -1.4rem;
  top: 2.2rem;
  font-size: 0.63rem;
  font-weight: 700;
  color: rgba(var(--rocket-green1), 0.8);
}

.add-ticket__button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(var(--rocket-green1), 0.1);
  border: 1px solid rgba(var(--rocket-green1), 0.8);
  background-image: url("../../../img/plus.svg");
  background-size: 1.1rem 1.1rem;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0.2rem;
  outline: none;
}


.add-ticket__text-delete {
  display: none;
  color: rgba(var(--rocket-green1), 0.7);
}

.console__buttons {
  position: absolute;
  width: 213px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.console__buttons-bottom {
  position: relative;
  width: 8.43rem;
  height: 3.26rem;
  background-image: url("../../../img/console-buttons-bottom.svg");
  background-size: 100% 100%;
  color: rgba(var(--rocket-gray2), 1);
  font-size: 0.9rem;
  font-weight: 700;
}

.odd-button {
  display: inline-block;
  position: absolute;
  background-color: transparent;
  border: none;
}

.odd-button-first {
  top: 1.2rem;
  padding: 0.2rem 0.5rem 0.13rem;
  left: 0.1rem;
  transform: rotate(-25deg);
  letter-spacing: 0.05rem;
}

.odd-button-first1 {
  display: inline-block;
  transform: rotate(-9deg) translateY(1px);
}

.odd-button-first2 {
  display: inline-block;
  transform: rotate(-5deg) translateY(-1px);
}

.odd-button-first3 {
  display: inline-block;
  transform: rotate(1deg) translateY(-1px);
}

.odd-button-second {
  top: 0.45rem;
  left: 50%;
  padding: 0.2rem 0.4rem;
  transform: translateX(-50%);
  letter-spacing: 0.05rem;
}

.odd-button-second1 {
  display: inline-block;
  transform: rotate(-6deg);
}

.odd-button-second2 {
  display: inline-block;
  transform: rotate(0deg) translateY(-1px);
}

.odd-button-second3 {
  display: inline-block;
  transform: rotate(5deg) translateY(0);
}

.odd-button-third {
  top: 1.2rem;
  padding: 0.2rem 0.4rem 0.13rem;
  right: 0.15rem;
  transform: rotate(25deg);
}

.odd-button-third1 {
  display: inline-block;
  transform: rotate(-9deg) translateY(0);
}

.odd-button-third2 {
  display: inline-block;
  transform: rotate(-5deg) translateY(-1px);
}

.odd-button-third3 {
  display: inline-block;
  transform: rotate(1deg) translateY(0);
}

.console__buttons-top {
  position: absolute;
  top: -2.3rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.circle {
  width: 10.9rem;
  height: 3.46rem;
  background-image: url("../../../img/console-buttons-top.svg");
  background-size: 100% 100%;
  font-weight: 700;
  color: rgba(var(--rocket-white), 1);
  cursor: text;
  z-index: 2;
}

.circle__input {
  display: block;
  width: 7rem;
  height: 2.2rem;
  border: none;
  outline: 0;
  background-color: red;
  color: transparent;
  opacity: 0;
  margin: 0.25rem auto 0;
}

.circle__input:focus {
  border: none;
}

.circle__letters-field {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: initial;
  z-index: -5;
}

.circle__letters {
  position: relative;
  display: block;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  text-align: center;
  z-index: -1;
}

.circle__letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.circle__letter span {
  font-size: 1rem;
  letter-spacing: 1px;
  display: inline-block;
}

.circle__label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.console__buttons-minus,
.console__buttons-plus {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(var(--rocket-green1), 0.8);
  border: none;
  cursor: pointer;
  z-index: 3;

  &.active .console__buttons-tooltip {
    transform: scale(1);
    opacity: 1;
  }
}

.console__buttons-minus {
  left: 0.35rem;
  bottom: 0.3rem;
}

.console__buttons-plus {
  right: 0.3rem;
  bottom: 0.25rem;
}


.console__buttons-tooltip {
  display: inline-block;
  transform: scale(0);
  position: relative;
  transition: 0.3s;
  opacity: 0;
  z-index: 2;
}

.console__buttons-tooltip-inner {
  height: 1rem;
  padding: 0 0.5rem;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: -1rem;
  left: -0.33rem;
  transform: translate(-50%, -100%);
  background-color: rgba(var(--rocket-green1), 1);
  color: rgba(var(--rocket-white), 1);
  font-family: "Myriad", sans-serif;
  font-size: 0.6rem;
  border-radius: 0.1rem;
  font-weight: 700;

  &::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0.04rem;
    left: 50%;
    transform: translate(-50%, 100%);
    border-left: 0.2rem solid transparent;
    border-right: 0.2rem solid transparent;
    border-top: 0.3rem solid rgba(var(--rocket-green1), 1);
  }
}


.console__buttons-minus-line {
  display: inline-block;
  width: 0.7rem;
  height: 0.1rem;
  background-color: rgba(var(--rocket-white), 1);
}

.console__button-plus-line {
  position: absolute;
  transform: rotate(90deg);
}

.console-top {
  position: absolute;
  top: -5.4rem;
  width: 10.7rem;
  height: 2.6rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../../img/console-speed.svg");
  background-size: 100% 100%;
}

.console-top__circle-field {
  position: absolute;
  top: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 17rem;
  height: 17rem;
  background-color: transparent;
  border-radius: 50%;
  z-index: -1;
}

.console-top__next-round {
  opacity: 0;
  transform: scale(0.1);
  transition: 0.5s;
}

.console-top__next-round-svg {
  fill: rgba(var(--rocket-blue), 1);
}

.console-top__circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  z-index: -1;
}


.console-top__arrow {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-8.82rem);
}

.console-top__arrow-field {
  position: absolute;
  height: 1.5rem;
  width: 0.6rem;
  top: 50%;
  left: 50%;
  margin-left: -0.3rem;
  margin-top: -0.7rem;
  transform: rotate(0deg);
}

.console-top__arrow-top {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 0.2rem solid transparent;
  border-right: 0.2rem solid transparent;
  border-top: 0.4rem solid rgba(var(--rocket-red1), 1);
}

.console-top__arrow-bottom {
  display: inline-block;
  width: 0.06rem;
  height: 0.5rem;
  background-color: rgba(var(--rocket-red1), 1);
}

.console-switchers-list-field {
  width: 11rem;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -2.4rem;
  left: 50%;
  transform: translateX(-50%);
}


.console.cashout {
  justify-content: flex-start;

  .lds-spinner {
    display: none;
  }

  .console__bet-button-text {
    display: block;
  }

  .console-switchers-cashout {
    opacity: 1;
  }

  .console-switchers-list-field {
    justify-content: flex-start;
  }
}

.console-switchers-cashout {
  opacity: 0.5;
}

.console__bet-button-text {
  padding-top: 0.2rem;
  display: inline-block;
}

.console.auto {
  .console-switchers-auto {
    opacity: 1;
  }


  .lds-spinner {
    display: none;
  }

  .console__bet-button-text {
    display: none;
  }

  .console__bet-button-cashout {
    display: inline-block;
  }

  .console__bet-button {
    background-color: rgba(var(--rocket-gray15), 1);
    box-shadow: 0 0.15rem rgba(var(--rocket-gray-shadow), 1);
  }

  .console__bet-button.push {
    transform: translateY(1px);
    box-shadow: 0 0.03rem rgba(var(--rocket-gray-shadow), 1);
  }

  .console__bet-button-layer {
    background-image: url("../../../img/bet-layer1-gray.svg");
  }
}

.console.cashout.auto {
  .console__bet-button {
    background-color: rgba(var(--rocket-black8), 1);
    background-image: none;
  }

  .console__bet-button-layer {
    background-image: url("../../../img/bet-layer1-gray.svg");
  }

  .console__bet-button-text {
    display: none;
  }

  .console__bet-button-autogame {
    font-size: 0.86rem;
    display: inline-block;
    color: rgba(var(--rocket-green1), 1);
  }

  .console__bet-button-cashout {
    display: none;
  }
}


.console-switchers-auto {
  opacity: 0.5;
}

.console-switchers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.3rem;
}


.switch__title {
  font-size: 0.74rem;
  font-weight: 700;
  padding: 0 0 0.1rem;
  color: rgba(var(--rocket-gray2), 0.9);
}


.switch__label {
  position: relative;
  display: flex;
  font-weight: 700;
  color: rgba(var(--rocket-gray1), 1);
  width: 2.83rem;
  height: 1.5rem;
}

.switch__label-field {
  position: relative;
}

.switch__input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--rocket-gray5), 1);
  border-radius: 0.8rem;
  transition: 0.4s;
}

.switch__slider::before {
  position: absolute;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  left: 0.17rem;
  bottom: 0.15rem;
  background-color: rgba(var(--rocket-green1), 0.7);
  border-radius: 50%;
  transition: 0.4s;
}

.switch__input:checked + .switch__slider {
  background-color: rgba(var(--rocket-gray14), 1);
}

.switch__input-cashout:checked + .switch__slider + .switch__price-input {
  display: flex;
}

.switch__input:focus + .switch__slider {
  box-shadow: 0 0 0.07rem rgba(var(--rocket-gray5), 0.7);
}

.switch__input:checked + .switch__slider::before {
  transform: translateX(1.3rem);
}

.switch__price-input {
  align-items: center;
  position: absolute;
  top: -0.15rem;
  left: 0;
  display: none;
  width: 4rem;
  height: 1.8rem;
  font-size: 0.8rem;
  border: none;
  background-color: transparent;
  background-image: url("../../../imgMobile/cashout.svg");
  background-size: 100% 1.8rem;
  background-repeat: no-repeat;
  margin-left: 2.45rem;
  padding: 0 0.3rem 0 0.6rem;
  color: rgba(var(--rocket-white), 0.5);
  font-weight: 700;
}

.switch__price-input.active {
  display: flex;
}

.rocket-field {
  z-index: -1;
  position: absolute;
  bottom: 15.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.rocket {
  width: 3.592rem;
  height: 10rem;
  background-image: url("../../../img/rocket-animation.png");
  background-size: auto 110rem;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: 300%;
  }
}

.rocket-garage {
  position: absolute;
  top: 1.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 4.66rem;
  height: 5.66rem;
  background-image: url("../../../img/rocket-garage.svg");
  background-size: 4.66rem 5.66rem;
  z-index: -2;
}

.console.console-second {
  display: none;
  margin: 0;

  .console__settings {
    width: 12.2rem;
  }

  .console__settings::after {
    background-image: url("../../../imgMobile/bet-layer3.svg");
    background-position: left;
    transform: translateX(-50%);
  }

  .console__settings-right {
    display: none;
  }
}

.console.console-second.active {
  display: flex;
}

.console.console-first.active {
  margin: 0;

  .console__settings {
    width: 12.2rem;
  }

  .console__settings::after {
    background-image: url("../../../img/bet-layer4.svg");
    background-position: right;
    transform: translateX(-50%);
  }

  .console__settings-right {
    display: none;
  }
}

.add-ticket__button-delete {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(var(--rocket-green1), 0.1);
  border: 1px solid rgba(var(--rocket-green1), 0.8);
  background-image: url("../../../img/plus.svg");
  background-size: 1.1rem 1.1rem;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0.2rem;
  outline: none;
  position: absolute;
  top: -7.3rem;
  right: 0.4rem;
  transform: rotate(45deg);
}

.popup-bet__field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0.2rem;
  background-color: rgba(var(--rocket-gray13), 0.85);
  z-index: 100;
  transition: 0.3s;
  transform: translateY(200%);
}

.popup-bet__field.active {
  transform: translateY(0);
}

.popup-bet__title-text {
  display: none;
}

.popup-bet__field.popup-bet__field--cashout .popup-bet__title-text--cashout {
  display: inline-block;
}

.popup-bet__field.popup-bet__field--betting .popup-bet__title-text--betting {
  display: inline-block;
}


.popup-bet {
  position: relative;
  z-index: 1;
  background-color: rgba(var(--rocket-silver1), 1);
  border-radius: 0.3rem;
  font-size: 0.93rem;
  color: rgba(var(--rocket-white), 0.7);
  font-weight: 700;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../../img/stars-z1.png");
    background-position: left;
    opacity: 0.8;
    z-index: -1;
  }
}

.popup-bet__footer {
  position: relative;
  z-index: 10;
}

.popup-bet__close-field {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}


.popup-bet__close {
  width: 2rem;
  height: 2rem;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.25rem;
  top: 0.35rem;
  background-color: transparent;
  border: none;
}

.popup-bet__lose-svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: rgba(var(--rocket-green1), 1);
}

.popup-bet__title {
  display: flex;
  justify-content: center;
  color: rgba(var(--rocket-gray2), 0.5);
  font-size: 1.2rem;
  padding: 0.8rem 0;
  font-weight: 700;
}

.popup-bet__input-field {
  height: 2.66rem;
  background-color: rgba(var(--rocket-green10), 0.6);
  border: 1px solid rgba(var(--rocket-green1), 0.8);
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.7rem 0.9rem;
  padding: 0 0.2rem;
}

.popup-bet__input {
  height: 100%;
  flex: 1 1 auto;
}

.popup-bet__backspace {
  width: 2.3rem;
  height: 1.4rem;
  background-color: transparent;
  background-image: url("../../../imgMobile/backspace.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.popup-bet__backspace-svg {
  width: 0.7rem;
  height: 0.7rem;
  fill: rgba(var(--rocket-white), 0.7);
  margin-right: 0.5rem;
}

.popup-bet__plus-buttons-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.7rem 0.9rem;
}

.popup-bet__plus-buttons {
  width: 3.46rem;
  height: 2.46rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--rocket-green10), 0.7);
  border: 1px solid rgba(var(--rocket-green1), 0.8);
  border-radius: 0.2rem;
}

.popup-bet__buttons-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.8rem 0.9rem;
}

.popup-bet__buttons {
  width: 2.2rem;
  height: 2.2rem;
  background-color: rgba(var(--rocket-green10), 0.4);
  border: 1px solid rgba(var(--rocket-green1), 0.8);
  border-radius: 0.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.popup-bet__bottom-buttons-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.75rem 1.2rem;
}

.popup-bet__bottom-ok {
  height: 2.47rem;
  width: 13.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  background-color: rgba(var(--rocket-green1), 0.8);
  border: none;
}
