.wcolor-1 {
  background-color: #4A696B;
}

.wcolor-2 {
  background-color: #4B6B6A;
}

.wcolor-3 {
  background-color: #486D66;
}

.wcolor-4 {
  background-color: #4C6D66;
}

.wcolor-5 {
  background-color: #476F66;
}

.wcolor-6 {
  background-color: #467261;
}

.wcolor-7 {
  background-color: #46735C;
}

.wcolor-8 {
  background-color: #41775F;
}

.wcolor-9 {
  background-color: #41785B;
}

.wcolor-10 {
  background-color: #187F4B;
}

.wcolor-11 {
  background-color: #187E4D;
}

.wcolor-12 {
  background-color: #187D50;
}

.wcolor-13 {
  background-color: #187B53;
}

.wcolor-14 {
  background-color: #197B56;
}

.wcolor-15 {
  background-color: #197A59;
}

.wcolor-16 {
  background-color: #19785C;
}

.wcolor-17 {
  background-color: #1A775E;
}

.wcolor-18 {
  background-color: #1A7661;
}

.wcolor-19 {
  background-color: #1A7564;
}

.wcolor-20 {
  background-color: #4A696B;
}

.wcolor-21 {
  background-color: #1A7366;
}

.wcolor-22 {
  background-color: #1B726A;
}

.wcolor-23 {
  background-color: #1B716D;
}

.wcolor-24 {
  background-color: #1B7070;
}

.wcolor-25 {
  background-color: #1D6E76;
}

.wcolor-26 {
  background-color: #1C6B79;
}

.wcolor-27 {
  background-color: #1D6B7D;
}

.wcolor-28 {
  background-color: #1E6980;
}

.wcolor-29 {
  background-color: #1D6783;
}

.wcolor-30 {
  background-color: #1E6686;
}

.wcolor-31 {
  background-color: #1E6589;
}

.wcolor-32 {
  background-color: #1F648C;
}

.wcolor-33 {
  background-color: #1E628F;
}

.wcolor-34 {
  background-color: #1F6292;
}


.wcolor-35 {
  background-color: #206194;
}

.wcolor-36 {
  background-color: #206097;
}

.wcolor-37 {
  background-color: #205E9A;
}

.wcolor-38 {
  background-color: #205D9C;
}

.wcolor-39 {
  background-color: #215CA0;
}

.wcolor-40 {
  background-color: #2451BB;
}

.wcolor-41 {
  background-color: #2351B8;
}

.wcolor-42 {
  background-color: #2352B6;
}

.wcolor-43 {
  background-color: #2254B2;
}

.wcolor-44 {
  background-color: #2255AF;
}

.wcolor-45 {
  background-color: #2256AC;
}

.wcolor-46 {
  background-color: #2258A9;
}

.wcolor-47 {
  background-color: #2259A7;
}

.wcolor-48 {
  background-color: #225BA4;
}

.wcolor-49 {
  background-color: #225BA9;
}

.wcolor-50 {
  background-color: #214895;
}

.wcolor-51 {
  background-color: #953CD1;
}

.wcolor-52 {
  background-color: #963CCF;
}

.wcolor-53 {
  background-color: #973CCB;
}

.wcolor-54 {
  background-color: #983CC9;
}

.wcolor-55 {
  background-color: #9A3CC5;
}

.wcolor-56 {
  background-color: #9B3CC1;
}

.wcolor-57 {
  background-color: #9C3CBF;
}

.wcolor-58 {
  background-color: #9D3CBC;
}

.wcolor-59 {
  background-color: #9F3DBA;
}

.wcolor-60 {
  background-color: #A03CB6;
}

.wcolor-61 {
  background-color: #A13CB3;
}

.wcolor-62 {
  background-color: #A23CB1;
}

.wcolor-63 {
  background-color: #A33CAD;
}

.wcolor-64 {
  background-color: #A43CAB;
}

.wcolor-65 {
  background-color: #A53CA8;
}

.wcolor-66 {
  background-color: #A63CA5;
}

.wcolor-67 {
  background-color: #A83CA2;
}

.wcolor-68 {
  background-color: #A93C9F;
}

.wcolor-69 {
  background-color: #AB3D9C;
}

.wcolor-70 {
  background-color: #AB3C98;
}

.wcolor-71 {
  background-color: #AD3C95;
}

.wcolor-72 {
  background-color: #AE3C93;
}

.wcolor-73 {
  background-color: #AF3C8F;
}

.wcolor-74 {
  background-color: #B03D8E;
}

.wcolor-75 {
  background-color: #B13C8A;
}

.wcolor-76 {
  background-color: #B33C87;
}

.wcolor-77 {
  background-color: #B43D84;
}

.wcolor-78 {
  background-color: #B53C7F;
}

.wcolor-79 {
  background-color: #B83D7C;
}

.wcolor-80 {
  background-color: #B93D79;
}

.wcolor-81 {
  background-color: #BB3D72;
}

.wcolor-82 {
  background-color: #BD3D6F;
}

.wcolor-83 {
  background-color: #BF3D6B;
}

.wcolor-84 {
  background-color: #C03D68;
}


.wcolor-85 {
  background-color: #C03D65;
}

.wcolor-86 {
  background-color: #C23D62;
}

.wcolor-87 {
  background-color: #C43D5E;
}

.wcolor-88 {
  background-color: #C53D5B;
}

.wcolor-89 {
  background-color: #C63D57;
}

.wcolor-90 {
  background-color: #C83D54;
}

.wcolor-91 {
  background-color: #C93D51;
}

.wcolor-92 {
  background-color: #C93C4D;
}

.wcolor-93 {
  background-color: #CB3D4B;
}

.wcolor-94 {
  background-color: #CC3D48;
}


.wcolor-95 {
  background-color: #CA3D4C;
}

.wcolor-96 {
  background-color: #CC3D49;
}

.wcolor-97 {
  background-color: #CD3D45;
}

.wcolor-98 {
  background-color: #CE3D43;
}

.wcolor-99 {
  background-color: #CE3D49
}

.wcolor-100 {
  background-color: #CF3D41;
}


.bcolor-1 {
  background-color: #EC6B41;
}

.bcolor-2 {
  background-color: #E56C43;
}

.bcolor-3 {
  background-color: #DD6E45;
}

.bcolor-4 {
  background-color: #D56F47;
}

.bcolor-5 {
  background-color: #CC714A;
}

.bcolor-6 {
  background-color: #C3734C;
}

.bcolor-7 {
  background-color: #BC744E;
}

.bcolor-8 {
  background-color: #B37650;
}

.bcolor-9 {
  background-color: #AB7853;
}

.bcolor-10 {
  background-color: #A27955;
}

.bcolor-11 {
  background-color: #9C7B56;
}

.bcolor-12 {
  background-color: #897F5C;
}

.bcolor-13 {
  background-color: #927D59;
}

.bcolor-14 {
  background-color: #7F805E;
}

.bcolor-15 {
  background-color: #778261;
}

.bcolor-16 {
  background-color: #6E8463;
}

.bcolor-17 {
  background-color: #668665;
}

.bcolor-18 {
  background-color: #5D8768;
}

.bcolor-19 {
  background-color: #55896A;
}

.bcolor-20 {
  background-color: #4B8B6D;
}
