@font-face {
  font-family: "Mina";
  src: url("../../fonts/Mina-Regular.woff2") format("woff2"),
    url("../../fonts/Mina-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mina";
  src: url("../../fonts/Mina-Bold.woff2") format("woff2"),
    url("../../fonts/Mina-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Myriad";
  src: url("../../fonts/MyriadProBold.woff2") format("woff2"),
  url("../../fonts/MyriadProBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Myriad";
  src: url("../../fonts/MyriadProRegular.woff2") format("woff2"),
  url("../../fonts/MyriadProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

