:root {
  --rocket-white: 255, 255, 255;
  --rocket-green1: 70, 142, 107;
  --rocket-green2: 101, 152, 128;
  --rocket-green3: 77, 104, 107;
  --rocket-green4: 75, 107, 104;
  --rocket-green5: 32, 105, 127;
  --rocket-green6: 70, 142, 107;
  --rocket-green7: 59, 132, 100;
  --rocket-green8: 30, 124, 76;
  --rocket-green9: 31, 115, 99;
  --rocket-green10: 49, 78, 94;
  --rocket-green-shadow: 32, 87, 62;
  --rocket-green-loading: 48, 124, 88;
  --rocket-gray: 110, 131, 145;
  --rocket-gray1: 160, 160, 160;
  --rocket-gray2: 153, 184, 209;
  --rocket-gray3: 205, 205, 206;
  --rocket-gray4: 89, 105, 121;
  --rocket-gray5: 27, 29, 38;
  --rocket-gray6: 36, 36, 36;
  --rocket-gray7: 57, 60, 74;
  --rocket-gray8: 107, 128, 141;
  --rocket-gray9: 64, 74, 88;
  --rocket-gray10: 29, 30, 41;
  --rocket-gray11: 18, 18, 26;
  --rocket-gray12: 18, 18, 36;
  --rocket-gray13: 19, 19, 27;
  --rocket-gray14: 29, 46, 56;
  --rocket-gray15: 41, 47, 67;
  --rocket-gray-shadow: 33, 38, 54;
  --rocket-yellow: 255, 224, 99;
  --rocket-yellow1: 227, 204, 111;
  --rocket-yellow2: 175, 164, 63;
  --rocket-red: 204, 137, 82;
  --rocket-red1: 203, 61, 77;
  --rocket-red2: 209, 61, 62;
  --rocket-black: 34, 38, 51;
  --rocket-black1: 0, 0, 0;
  --rocket-black2: 27, 29, 38;
  --rocket-black3: 28, 30, 38;
  --rocket-black4: 17, 17, 26;
  --rocket-black5: 52, 56, 66;
  --rocket-black6: 23, 24, 33;
  --rocket-blue: 153, 184, 209;
  --rocket-blue1: 33, 99, 143;
  --rocket-blue2: 52, 65, 111;
  --rocket-pink: 184, 61, 122;
  --rocket-pink2: 158, 60, 187;
  --rocket-black7: 25, 26, 36;
  --rocket-black8: 45, 50, 57;
  --rocket-silver: 117, 117, 117;
  --rocket-silver1: 29, 30, 41;
}
